html {
  font-family: 'Inter', 'Cantarell', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.dropdown-btn {
  color: #fff;
  cursor: pointer;
  /* text-indigo-500 */
  border-color: #6366F1 !important;
  background-color: #6366F1 !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .15s ease-in-out;
  font-weight: 400;
}

.dropdown-btn:hover {
  /* text-indigo-600 */
  border-color: #4F46E5 !important;
  background-color: #4F46E5 !important;
}

.utm-label {
  color: #fff;
  border-color: #374151 !important;
  background-color: #374151 !important;
  display: inline-block;
  max-width: 150px;
  width: 100%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .15s ease-in-out;
  font-weight: 400;
}

.container {
  max-width: 930px !important;
}